.aboutContainer{
    display: flex;
    background-color: #5f37ef !important;
    align-items: center;
    justify-content: space-around;
    padding: 60px 80px;
    font-family: 'Roboto', sans-serif;
}
.aboutContainer .aboutText{
    color: #fff;
    font-size: 25px;
    letter-spacing: 0.2px;
    font-weight: normal;
}
.aboutContainer .aboutText .boldText{
    font-weight: 500;
    letter-spacing: 0.1px;
    /* opacity: 1 !important; */
}
.aboutBtn{
    border: 2px solid #fff;
    background-color: rgb(53, 53, 223) ;
    color: #fff;
    padding: 15px 20px;
    border-radius: 30px;
    letter-spacing: 1px;

}
.aboutBtn:hover{
    background-color: #fff;
    color: black;
    transition: 0.5s ease-in;

}