.iconsContainer{
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconsStyle{
    color: black;
    font-size: 15px;
    margin-right: 30px;
}
.iconsStyle:hover{
    color: rgb(90, 81, 81);
    transition: 0.3s ease-in;
}
.copyrightContent{
    font-size: 10px;
    font-weight: 300;
    color: rgb(90, 81, 81);

}
.terms {
    text-decoration: underline;
    padding-right: 5px;

}
.privacy{
    text-decoration: underline;
}